extends layout

block content
  h1= title
  
  h2 Log In
  
  if loginError 
    h4= loginError
    
  form(action='/login' method='post')
    label(for='email') Email
    input(type='email' id='email' name='email')
    p
    label(for='password') Password
    input(type='password' id='password' name='password')
    p
    input(type='submit' value='Log In')
    p
    
      
  h2 Sign Up
  
  if validationErrors
    h4= validationErrors
    
  form(action='/signup' method='post')
    label(for='user') Username
    input(type='text' id='user' name='user')
    p
    label(for='email') Email
    input(type='email' id='email' name='email')
    p
    label(for='password') Password
    input(type='password' id='password' name='password')
    p
    label(for='confirm') Confirm Password
    input(type='password' id='confirm' name='confirm')
    p
    input(type='submit' value='Sign Up')
