label(for='bet') Bet
input(type='text' id='bet' name='bet' value=(bet ? bet.name: ''))


label(for='description') Description
input(type='text' id='description' name='description' value=(bet ? bet.description: ''))
