label(for='name') Name 
input(type='text' id='name' name='name' autocomplete='off' value=(bet ? bet.name: ''))
p
label(for='description') Description   
input(type='text' id='description' name='description' autocomplete='off' value=(bet ? bet.description: ''))
p
label(for='start-time') Start Time 
input(type='date' id='start-time' name='start_time' value=(bet ? bet.startTime: ''))
p
label(for='end-time') End Time 
input(type='date' id='end-time' name='end_time' value=(bet ? bet.endTime: ''))
