extends ../layout

block content
  h1 Add Participants to Your Bet
  
  h2 Enter email, press add
  
  form(action='/bets/' + bet + '/add-people' method='post')
    input(type='text' class='person' placeholder='User Email Address' name='person_1')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_2')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_3')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_4')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_5')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_6')
    p
    input(type='text' class='person' placeholder='User Email Address' name='person_7')
    p
    button(type='submit') Add Participants
    
  
    
  
