extends ../layout

block content
  h1 Bets
  h2 Create a new bet, then invite participants
  
  if bets
    for bet in bets
      hr
      a(href='/bets/' + bet._id)
        h3= bet.name
      form(action='/bets/' + bet._id + '/add-people' method='get')
        button Add Participants
      p
      hr
  p
  form(action='/bets/new' method='get')
    button Add New
  p
  form(action='/logout' method='get')
    button Logout
