extends ../layout

block content
  h1 Bets Index Page
  
  if bets
    for bet in bets 
      a(href='/bets/' + bet._id)
        h3= bet.name
  
  form(action='/bets/invites' method='get')
    button See Your Invitations
  p
  form(action='/bets/new' method='get')
    button Add New
  p
  form(action='/logout' method='get')
    button Logout
